{% extends 'analytics_base.html' %}
{% block content %}
<form action="{% url 'analytics:analyze' %}">
  <div class="row g-4 pb-5 w-50 mx-auto">
    <div class="col-md-6">
      <label
        for="start"
        class="form-label"
      >Start</label>
      <input
        id="start"
        class="form-control"
        type="date"
        name="start"
        value="{{ start }}"
        required
      />
    </div>
    <div class="col-md-6">
      <label
        for="end"
        class="form-label"
      >End</label>
      <input
        id="end"
        class="form-control"
        type="date"
        name="end"
        value="{{ end }}"
        required
      />
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-lg btn-primary">Analyze</button>
  </div>
</form>
{% endblock content %}
